.contanierFav{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.insideCon{
    height: 10%;
    width: 10%;
    display: flex;
    flex-direction: column;
}

.pMovie{
    display: flex;
    flex-direction: column;
}