.navbar{
    height: 100%;
    background-color: rgb(25, 25, 24) !important;
}
.container{
    background-color: rgb(25, 25, 24);
}

.par{
    color: aliceblue;
    margin-left: 10px;
    text-decoration: none;
}
.par:hover{
    color: aliceblue;

    box-shadow: 5px white;
    background-color: rgb(123, 128, 128);
    border-radius: 20px;
}

.imgtopIcone{
    border-radius: 9999999px;
}

.wehit{
    font-family:  Brush Script MT;}